{% load i18n %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:article_list' %}">{% trans 'Blog' %}</a>
                </li>
                {#        <li class="nav-item dropdown">#}
                {#          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
                {#            Dropdown#}
                {#          </a>#}
                {#          <ul class="dropdown-menu">#}
                {#            <li><a class="dropdown-item" href="#">Action</a></li>#}
                {#            <li><a class="dropdown-item" href="#">Another action</a></li>#}
                {#            <li><hr class="dropdown-divider"></li>#}
                {#            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                {#          </ul>#}
                {#        </li>#}
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>

            </ul>
            <nav class="navbar navbar-expand-lg navbar-light bg-light m-2">
                <form action="{% url 'set_language' %}" method="post" class="form-inline my-2 my-lg-0 ml-auto">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">

                    <div class="btn-group" role="group" aria-label="Language selector">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                            <button type="submit"
                                    name="language"
                                    value="{{ language.code }}"
                                    class="btn btn-sm {% if language.code == LANGUAGE_CODE %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                                {{ language.code|upper }}
                            </button>
                        {% endfor %}
                    </div>
                </form>
            </nav>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>