{% extends 'base.html' %}
{% load static %}

{% block content %}
{#    <div class="content-wrap">#}
{#        <div class="topper-n1">#}
{##}
{#            <picture>#}
{#                <source srcset="https://olidetrim.com/assets/img/hero/Topper_main_page_mob_UA.webp"#}
{#                        media="(max-width: 980px)">#}
{##}
{#                <img src="https://olidetrim.com/assets/img/hero/Topper_main_page_desk_UA.webp" alt="">#}
{#            </picture>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{% endblock %}